.mention {
  width: 90px;
  height: 50px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.mention__text {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.mention_logo {
  width: 90px;
  height: 25px;
}