.coin-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.coin-title__image-container {
  width: 70px;
  height: 70px;
}

.coin-title__text {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 600px) {
  .coin-title {
    gap: 15px;
  }
  .coin-title__image-container {
    width: 100px;
    height: 100px;
  }
}