.coin-selector {
  width: 90px;
  height: 50px;
  position: relative;
}

.coin-selector__selector,
.coin-selector__loading-container {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border-radius: 8px;
  border: var(--secondary-border);
  background-color: transparent;
  position: absolute;
}

.coin-selector__loading-container {
  display: flex;
  align-items: center;
}

.coin-selector__loading {
  width: 45%;
  height: 21px;
}

.coin-selector__selector:focus{
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--dark);
}

.coin-selector__selector option {
  background-color: var(--background);
}

.coin-selector__icon-container {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  bottom: 16px;
  right: 7px;
}

.coin-selector__icon {
  width: 100%;
  height: 100%;
  color: var(--black);
}

@media (min-width: 600px) {
  .coin-selector {
    width: 135px;
    height: 75px;
  }
  .coin-selector__selector,
  .coin-selector__loading-container {
    border-radius: 14px;
  }
  .coin-selector__icon-container {
    width: 30px;
    height: 30px;
    top: 24px;
    bottom: 24px;
    right: 11px;
  }
  .coin-selector__loading {
    height: 26px;
  }
}