.mention {
  width: 90px;
  height: 50px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.mention__text {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.mention_logo {
  width: 90px;
  height: 25px;
}

@media (min-width: 600px) {
  .mention {
    width: 110px;
    height: 70px;
  }
  .mention__text {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .mention_logo {
    width: 110px;
    height: 30px;
  }
}