.footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  padding-bottom: 10px;
}

.footer__buttons {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}